.border {
    border: 1px solid black;
}

/*RESET*/

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    height: 50px;
}
header nav ul {
    list-style: none;
    display: block;
    margin: 0;
}
header nav ul li {
    float: left;
    width: calc(100% / 5);
}
header nav img {
    height: 45px;
}
body {
    position: relative;
}
footer {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}
main {
    height: 85%;
}
.dark-black-bg {
    background-color: #191919;
    color: whitesmoke;
}

.img-section-holder {
	width: calc(100% / 5);
    float: left;
    height: 100%;
    border: 1px solid;
}

main.container-fluid{
    height: calc(100% - 15% - 50px); /*height  - footer - header*/
}

main.container-fluid .main-row{
    height: 100%;
}

main.container-fluid .content-heading{
    height: 15%;
}

main.container-fluid .content-body{
    height: 85%;
}


